NEXT_PUBLIC_APP_NAME="AGC Manual ERP"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

MONGODB_URI="mongodb://localhost:27017/agc-manual-erp"
MONGODB_URI_PROD="mongodb+srv://user:password@cluster.mongodb.net/agc-manual-erp"

NODE_ENV="development"
